<!DOCTYPE html>
<html lang="en">
{% load static %}
<style>
body {
    margin: 20px;
    padding-top: 200px;
    padding-bottom: 600px;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url({% static 'dusty-shelf/back1.jpg' %});
    background-size: cover;
    background-position: center;
}   
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "dusty-shelf/base.css" %}">
</head>
<body>
    <div class="header">
        <nav>
            <ul style="list-style-type:none;">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'view_books' %}">Books</a></li>
                <li><a href="{% url 'personal_library' %}">My Library</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
       
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 My Django App</p>
    </footer>
</body>
</html>
