.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 8px;
    margin-top: -300px;
    color: #B7AA8B;
}

.content h1 {
    margin-bottom: 40px;
    font-size: 3em;
    color: #B7AA8B;
}

button {
    background-color: #867E65;
    color: #545244;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #424033;
}